<h1>Add a new painting</h1>
<%= simple_form_for (@painting) do |f| %>
  <%= f.input :title %>
  <%= f.input :measures %>
  <%= f.input :price %>
  <%= f.input :user_id, label: 'User name' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add painting"%>
<% end %>
