<div class="container mt-4 shadow-1">

<div class="card" style="width: 30rem;">

  <%= cl_image_tag @painting.photo.key, height:"300px"%>
  <div class="card-body">
    <h1 class="card-title"><%= @painting.title %></h1>
    <p class="card-text"> some art I made in my free time</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Measures: <%= @painting.measures %></li>
    <li class="list-group-item">Price: <%= @painting.price %></li>
    <li class="list-group-item">Artist/Seller: <%=@author.user_name%></li>
  </ul>
  <div class="card-body">
    <%= link_to "Buy Painting", new_painting_order_path(@painting), class:"btn btn-primary"%>

  </div>
</div>
  <%= link_to "Go back to home page", root_path, class:"btn btn-primary mt-3 mb-3"%>
</div>
